<div class="panel panel-default">
  <div class="panel-heading">Update the Project</div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="updateCourse()">
 <div class="form-group">
    <label for="top" class="col-sm-2 control-label">Stream : </label>
    <div class="col-sm-9">
       <select [(ngModel)]="model.stream" class="form-control" name="top">
          <option >BA - I </option>
	<option>BA - II </option>
	<option >BA - III </option>
	<option >BBA - I </option>
	<option >BBA - II </option>
	<option >BBA - III </option>
	<option >BCA - I </option>
	<option >BCA - II </option>
	<option >BCA - III </option>
	<option >BCom - I </option>
	<option >BCom - II </option>
	<option >BCom - III </option>
	<option >BPEd - I </option>
	<option >BPEd - II </option>
	<option >BPEd - III </option>
	<option >BPEd General- IV</option>
	<option >BSc Biotechnology (Elective)- I </option>
	<option >BSc Biotechnology (Elective)- II </option>
	<option >BSc Biotechnology (Elective)- III </option>
	<option >BSc Biotechnology (Hons.)- I </option>
	<option >BSc Biotechnology (Hons.)- II </option>
	<option >BSc Biotechnology (Hons.)- III </option>
	<option >BSc Computer Science (Elective)- I </option>
	<option >BSc Computer Science (Elective)- II </option>
	<option >BSc Computer Science (Elective)- III </option>
	<option >BSc Medical- I </option>
	<option >BSc Medical- II </option>
	<option >BSc Medical- III </option>
	<option >BSc Microbiology (Elective)- I </option>
	<option >BSc Microbiology (Elective)- II </option>
	<option >BSc Microbiology (Elective)- III </option>
	<option >BSc Non Medical- I </option>
	<option >BSc Non Medical- II </option>
	<option >BSc Non Medical- III </option>
	<option >MA English- I </option>
	<option >MA English- II </option>
	<option >MA History- I </option>
	<option >MA History- II </option>
	<option >MA Punjabi- I </option>
	<option >MA Punjabi- II </option>
	<option >MCom - I </option>
	<option >MCom - II</option>
	<option >MPEd - I </option>
	<option >MPEd - II </option>
	<option >MPhil Physical Education- I </option>
	<option>MSc Biotechnology- I </option>
	<option >MSc Biotechnology- II </option>
	<option >MSc Chemistry- I </option>
	<option >MSc Chemistry- II </option>
	<option >MSc IT- I </option>
	<option >MSc IT- II </option>
	<option >MSc Zoology- I </option>
	<option >MSc Zoology- II </option> </select>
    </div>
  </div>
  <div class="form-group">
    <label for="tiop" class="col-sm-2 control-label">No of Male Students : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.male" name="tiop">
    </div>
  </div>
  <div class="form-group">
    <label for="dd" class="col-sm-2 control-label">No of Female Students: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.female" name="dd">
    </div>
  </div>
  <div class="form-group">
    <label for="tnop" class="col-sm-2 control-label">No of SC Students: </label>
    <div class="col-sm-9">
      <input type="number" class="form-control"  [(ngModel)]="model.sc" name="tnop">
    </div>
  </div>
  <div class="form-group">
    <label for="exp" class="col-sm-2 control-label">No of ST Students: </label>
    <div class="col-sm-9">
      <input type="number" step="0.01" class="form-control"  [(ngModel)]="model.st" name="exp">
    </div>
  </div>
  
  <div class="form-group">
    <label for="ut" class="col-sm-2 control-label"> No of UT Students: </label>
    <div class="col-sm-9">
      <input type="number"  class="form-control"  [(ngModel)]="model.ut" name="geostatus">
    </div>
  </div>

  

<div class="form-group">
    <label for="expjune" class="col-sm-2 control-label">No of Outside-UT Students: </label>
    <div class="col-sm-9">
      <input type="number" step="0.01" class="form-control"  [(ngModel)]="model.outsideut" name="expjune">
    </div>
  </div>
  

<div class="form-group">
    <label for="remarks" class="col-sm-2 control-label">Remarks </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.remarks" name="remarks">
    </div>
  </div>




  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Update</button>
      <a  class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>
   
  </div>
</form>

  </div>
</div>
